name: Copy To Branches
on: ["workflow_dispatch"]
jobs:
  copy-to-branches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: run the tests using maven
        run: ./mvnw clean test
        env:
          key: main
